<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700703717966-hkeka5q7rjrid8s34i8oe13175iplleu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700703717966-hkeka5q7rjrid8s34i8oe13175iplleu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>700703717966-1j8imvl5piif486044aoluch3m5o6968.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbd2yfpDNnsKLqus2M76GcO_z3Nf0WACU</string>
	<key>GCM_SENDER_ID</key>
	<string>700703717966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupchatFirebase</string>
	<key>PROJECT_ID</key>
	<string>groupchat-42244</string>
	<key>STORAGE_BUCKET</key>
	<string>groupchat-42244.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700703717966:ios:a777354f402e4f6500611f</string>
</dict>
</plist>